<p style="color: green"><%= notice %></p>
<h1>Direct Messages</h1>
<%= turbo_stream_from "rooms"%>
<div id="rooms">
  <% @rooms.each do |room| %>
    <%= render room %>
  <% end %>
</div>
<%= turbo_stream_from "users"%>
<div id="users">
  <h1> Users </h1>
  <%= render @users%>
</div>
<% if current_user %>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>
